# Environnements virtuels
.venv/
venv/
env/
.env

# Poetry
poetry.lock

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# IDE
.idea/
.vscode/
*.swp
*.swo

# Donnees sensibles
# data/*.xlsx
# data/*.csv

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml
